.displayStyle{
    color:rgb(228, 10, 10);
    margin: 20px auto;
    height: 40px;
    border-radius: 20px;
}

.displayStyle p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
    font-weight: 500;
    background-color: thistle;
    text-align: initial;
}

span#trashIcon{
    position: right;
    right: 10px;
    margin: 0 4px;
    cursor: pointer;
}

.displayStyle p input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
}

.displayStyle p  input:focus{
    outline: none;
}
.displayStyle p span{
    position: absolute;
    right:  10px;
}